# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
*.egg-info
dist
build

# IDE
.vscode
.idea
*.swp
*.swo

# Docker
Dockerfile*
docker-compose*.yml
.dockerignore

# Docs y otros
*.md
LICENSE
Makefile
stack.yml

# OS
.DS_Store
Thumbs.db